/* - - - Alexander Rozhkov - - - */
/* - - - Reset styles - - -  */
@import url(./normalize.css);
/* - - - Fonts Inika - - - */

/* - - - Colors root - - - */
:root {
  --color-bg: #ffffff;
  --color-0: #d6d6d6;
  --color-1: #424242;
  --color-2: #292929;
  --color-3: #01996d;
  --color-4: #000000;
  --color-5: #484848;
  --color-6: #245852;
  --color-7: #cdcdcd;

  /* - - - Fonts root - - - */
  --font-family: "Lato", sans-serif;
}
/* - - - Default styles - - - */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--color-black);
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
  font-family: var(--font-family);
  color: var(--color-1);
  font-weight: 400;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body._lock {
  overflow: hidden;
}
/* - - - Styles img - - - */
._ibg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 1400px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-wide {
  width: 1536px;
}
.none {
  display: none;
}
/* - - - Progress bar - - - */
.progress-container {
  position: fixed;
  width: 100%;
  height: 3px;
  z-index: 50;
}
.progress-bar {
  height: 3px;
  background: var(--color-3);
  width: 0%;
}
/* - - - - Animation - - - - */
._anim-items {
  transform: translate(0px, 40%);
  transition: all 1.3s ease 0s;
  opacity: 0;
}
._anim-no-hide._active {
  transform: translate(0px, 0px);
  opacity: 1;
}
@media (max-width: 1535px) {
  .container-wide {
    width: 100%;
  }
}
@media (max-width: 1399px) {
  .container {
    width: 100%;
  }
}
@media (max-width: 991px) {
  body {
    font-size: 18px;
  }
}
