.btn,
a.btn {
  display: inline-block;
  min-height: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  background-color: var(--color-3);
  color: var(--color-bg);
  font-size: 20px;
  font-weight: 400;
  border-radius: 4px;
  transition: opacity 0.2s ease;
}
.btn:hover,
a.btn:hover {
  opacity: 0.8;
  color: var(--color-0);
}
.btn-big,
a.btn-big {
  min-height: 65px;
}
@media (max-width: 991px) {
  .btn,
  a.btn {
    min-height: 41px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .btn-big,
  a.btn-big {
    min-height: 55px;
  }
}
