.header {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--color-0);
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  z-index: 50;
}
.header-login {
  display: flex;
  align-items: center;
}
.header-login > * + * {
  margin-left: 35px;
}
.header-login-link {
  color: var(--color-4);
  transition: color 0.2s ease;
}
.header-login-link:hover {
  color: var(--color-3);
}

/* - - - Menu - - - */
.header__menu {
  display: flex;
  justify-content: flex-end;
  z-index: 6;
}
.menu__icon {
  display: none;
}
.menu__body {
  margin: 0;
  z-index: 5;
}
.menu__list > li:nth-child(-n + 3) {
  position: relative;
  margin: 0px 70px 0px 0px;
}
body._touch .menu__list > li {
  display: flex;
  align-items: center;
}
body._touch .menu__link {
  flex: 1 1 auto;
}
.menu__list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.menu__link {
  font-family: var(--font-family);
  display: block;
  font-size: 20px;
  color: var(--color-4);
  line-height: 1;
  font-weight: 500;
}
.menu__link:hover {
  text-decoration: none;
  color: var(--color-3);
}
.icon-menu {
  display: none;
}
.social__link {
  flex: 0 1 30px;
  height: 30px;
  border: 1px solid rgba(129, 129, 139, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease 0s;
}
.social__link:hover {
  border: 1px solid rgba(255, 255, 255, 1);
}
.hidden-alexrozhkov {
  display: none;
}
.show-alexrozhkov {
  display: block;
}
.hidden-social {
  display: none;
}
.show-social {
  display: block;
}
@media (max-width: 1055px) {
  .header-login {
    display: none;
  }
}

/* - - - - - - - - - - - - */
@media (max-width: 767.98px) {
  /* - - MENU BODY - - */
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 40px;
    height: 26px;
    cursor: pointer;
  }
  .menu__icon .line1,
  .menu__icon .line2,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color-1);
    transition: transform 0.3s ease 0s;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon .line1 {
    top: 35%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon .line2 {
    top: 65%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active .line1 {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active .line2 {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    padding: 140px 30px 30px 25px;
    transition: left 0.5s ease 0s;
    overflow: auto;
    margin: 0;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__link {
    font-size: 34px;
  }
  .menu__list > li:not(:last-child) {
    margin-bottom: 0px;
  }
  .menu__list > li:last-child {
    margin-top: 60px;
  }
  .menu__list > li:nth-child(-n + 3) {
    margin: 0px 0px 30px 0px;
  }
  /* - - - - - - - - - - - - */
  .menu__link-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 0px 0px;
    min-height: 30px;
    font-weight: 300;
    font-size: 14px;
    line-height: 2;
    color: var(--color-7);
  }
  .menu__link-text:hover {
    text-decoration: underline;
  }
  .menu__link-img {
    background: url(../../img/alexrozhkov.com.svg) right no-repeat;
  }
  /* - - - - - - - - - */
  .menu__social {
    display: block;
    margin-top: 15px;
  }
  .social-menu {
    display: flex;
    gap: 10px;
  }
  .social-menu__link {
    flex: 0 1 36px;
    height: 36px;
    border: 1px solid rgba(129, 129, 139, 0.9);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease 0s;
  }
  .social-menu__link:hover {
    border: 1px solid rgba(255, 255, 255, 1);
  }
}
/* - - - - - - - - - */
