.header {
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid var(--color-0);
}
.header-row {
  display: flex;
  align-items: center;
}
.header-nav {
  margin-left: 172px;
  font-weight: 500;
  color: var(--color-2);
}
.header-nav ul {
  display: flex;
}
.header-nav li + li {
  margin-left: 70px;
}
.header-nav a {
  transition: color 0.2s ease;
}
.header-nav a:hover {
  color: var(--color-3);
}
.header-login {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-login > * + * {
  margin-left: 35px;
}
.header-login-link {
  color: var(--color-4);
  transition: color 0.2s ease;
}
.header-login-link:hover {
  color: var(--color-3);
}

@media (max-width: 1277px) {
  .header-row {
    justify-content: space-between;
  }
  .header-nav {
    margin-left: 30px;
  }
  .header-nav li + li {
    margin-left: 50px;
  }
  .header-login {
    margin-left: 30px;
  }
}
@media (max-width: 1055px) {
  .header-nav,
  .header-login {
    display: none;
  }
}
